<div class="navbar__conteiner">
    <div class="navbar__logo">
        <img src="../../assets/logo.png" alt="" class="navbar__logo--img">
    </div>
    <div class="navbar__menu">
        <ul class="navbar__menu__conteiner">
            <li><a href="#" class="navbar__menu--iten active">Directorio de Agentes</a></li>
            <li><a href="#" class="navbar__menu--iten">Contacto</a></li>
            <li><a href="#" class=" navbar__menu--iten nav__login--btn">Ingresar</a></li>
        </ul>
    </div>
    <div class="navar__menu_ico">
        <span class="icon-menu"></span>
    </div>
</div>